{% extends 'base.html' %}
{% load static%}
{{block.super}}
{% block content%}
<div class="row cardsrow" style="margin-top: 120px;">
    {% for post in posts %}
    <div class="column cardcolumn mb-5">
        <div class="card">
            <a href="{% url 'star-project' post.id %}">
                <img src="{{ post.image.url }}" class="card-img-top" alt="" id="imgProj">
            </a>
            <div class="card-body">
                <div class="col-xs-4">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.location }}</p>    
                </div>
                <div class="col-xs-5"></div>
                <div class="col-xs-3" style="float: right;">
                    <div class="muted-text">{{ post.pub_date|date}}</div>
                </div>
            </div>
            <div class="card-footer">
                <p>BY: {{ post.user.username }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>  
{% endblock %}